<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title  %}


            {% endblock %} 

             | Jimenez QUispe Hubert Jared
        </title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    </head>
    <body>
        <header>
            <div id="logotipo">
                <h1>Proyecto Web (LP3)</h1>
            </div>
        </header>
    
    
        <nav>
            <ul>
                
                <li>
                    <a href="/saludo"> Personas</a>
                </li>
            </ul>
        </nav>

        <div class="barra">
            <span class="esquina-izquierda"></span>
            <span class="relleno-barra"></span>
            <span class="esquina-derecha"></span>
        </div>
    
    
    
        <div id="content">
            <div class="box">
                <h2 class="title"></h2>
                {% block content %}
                    <strong> Contenido en layout (Padre) </strong>
                {% endblock %}
            </div>
        </div>
        <footer>
            UNTELS - Lenguaje de Programación III &copy; Jimenez Quispe Hubert Jared
        </footer>
    </body>
</html>
